.or-btn {
  margin-left: 20px;
  margin-bottom: 20px;
}

.logo-img,
.logo-bg {
  width: 200px;
  height: 200px;
}

.logo-bg {
  background-image: url('/logo@2x.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
